/* reset */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* variable */

:root{
    --primary: #be2529;
    --dark: #333;
    --secondary: #0d0d0d;
    --gray: #ddd;
    --gray-light: #eee;
    --gray-hint: #555;
}

/* general */

:root{
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 2rem;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Staatliches', cursive;
    margin: 1rem 0;
}

h3{
    font-size: 1.8rem;
    font-weight: 400;
}

p{
    margin: 1rem 0;
}

a{
    font-size: 1.6rem;
    color: var(--dark);
    text-decoration: none;
}

ul{
    align-items: center;
    list-style-type: none;
}

img{
    max-width: 100%;
}

/* utility */

.container{
    margin: auto;
    max-width: 1100px;
}

.textPrimary{
    color: var(--primary);
}

.textPrimary:hover{
    opacity: 0.8;
}

.textHint{
    color: var(--gray-hint);
    font-size: 1.2rem;
}

.btn{
    border: 0;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1rem;
    transition: all 0.2s;
}

.btn-light{
    background-color: #fff;
    border: 1px solid var(--primary);
    color: var(--primary);
}

.btn-light:hover{
    background-color: var(--primary);
    color: #fff;
}

/* generic */

.articleAuthor{
    font-size: 1.4rem;
    font-weight: 700;
}

/* header */

header{
    display: grid;
    grid-template-columns: 1fr auto;
    place-items: center start;
    line-height: 3.5rem;
    margin: 0.5rem auto;
}

header .logo{
    font-family: 'Staatliches', cursive;
    font-size: 3rem;
}

header a{
    display: block;
    padding: 1rem;
}

header ul{
    display: flex;
}

header ul li{
    padding: 1rem;
}

/* nav */

nav{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;
    top: 0;
}

/* showcase */

.showcase{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    padding: 2rem 0;
}

.showcase article:first-child{
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.showcase article:last-child{
    grid-column: 3 / 4;
    grid-row: 1 / 4;
}

.articleSmall{
    column-gap: 10px;
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: 80px;
    grid-auto-rows: auto    ;
}

.articleSmall p{
    margin: 0.5rem 0;
}

.articleSmall .articleContent{
    max-height: 6rem;
    overflow: hidden;
}

.articleSmall .articleContent, .articleSmall .articleAuthor, .articleSmall .textHint{
    grid-column: span 2;
}